// -------------------------------------------------
//
// Base
// 
// -------------------------------------------------

// NOTE: Type rules set in base/_typography.scss

* {
  @include box-sizing(border-box);
  outline:none;
}

::-webkit-scrollbar {
  display: none;
}

::selection {
  background: $text;
  color: $background;
}
::-moz-selection {
  background: $key;
  color: $white;
}

html,
body{
	margin: 0;
	padding: 0;
}

