// -------------------------------------------------
//
// Base
// 
// -------------------------------------------------

// NOTE: Type rules set in base/_typography.scss

* {
  @include box-sizing(border-box);
  outline:none;
}

::-webkit-scrollbar {
  display: none;
}

::selection {
  background: $key;
  color: $white;
}
::-moz-selection {
  background: $key;
  color: $white;
}

canvas{
	background-color: transparent;
	position: fixed;
	overflow: hidden;
	top: 0;
	left: 0;
	width: 100%;
	max-width: 100% !important;
	max-height: 100% !important;
	height: 100%;
	opacity: 1;
}
