// -------------------------------------------------
//
// Variables
// 
// -------------------------------------------------



// ---------------------------------------------
// Color

$key: #ff4daf;
$blue: #282825;
$white: #f2f2f1;
$black: black;
$background: #f7f8f8;
$text: black;
$pink: #fd03ad;

