// -------------------------------------------------
//
// Nav
// 
// -------------------------------------------------

nav{
	z-index: 9;
}


// -------------------------------------------------
//
// Video Page
// 
// -------------------------------------------------

.video-controls{
	z-index: 0;
}

#player{
	z-index: 2;
}