.info{
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	overflow: hidden;
	overflow-y: scroll;
	@include fast();
	.info-body{
		margin-top: 120px;
		margin-bottom: 120px;
		width: 90%;
		margin-left: 5%;
		text-align: left;
		@include animation(dropIn .5s ease);
		@include mq("medium"){
			width: 80%;
			margin-left: 10%;
		}
		@include mq("large"){
			width: 70%;
			margin-left: 15%;
		}
		p{
			text-align: left;
			font-size: 1em;
			line-height: 1.5;
			font-weight: lighter;
			img{
				max-width: 100%;
			}

			@include mq("medium"){
				font-size: 1.5em;
			}
		}
	}
}