.news{
	position: relative;
	top: 0;
	width: 100%;
	height: auto;
	color: $text;
	overflow-x: hidden;
	margin-bottom: 200px;
	@include fast();
	@include scroll();

	.news-entry{
		width: 90%;
		margin: 100px 5% 0;
		text-align: left;
		@include animation(dropIn .5s ease);
		@include mq("medium"){
			width: 80%;
			margin: 150px 10% 0;
		}
		@include mq("large"){
			width: 60%;
			margin: 200px 20% 0;
		}

		h1{
			font-weight: bold;
			letter-spacing: -1px;
			margin-bottom: 20px;
		}
		// ------------------------------------------------
		// Top border
		//
		
		&:before{
			content: '';
			height: 15px;
			background: $text;
			display: block;
			margin-bottom: 20px;
		}

		.news-image-wrapper{
			width: 100%;
			height: 250px;
			position: relative;
			overflow: hidden;
			margin-bottom: 20px;
			@include mq("medium"){
				height: 450px;
			}
			@include mq("large"){
				height: 500px;
			}
			img{
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: auto;
			}
		}
		p{
			text-align: left;
			line-height: 1.5;
			font-weight: lighter;
		}
	}
}